{%
  set list = [
    {
      name: 'icoadm.in',
      className: 'icoadm-in',
      order: {
        menu: 1,
        main: 4
      }
    },
    {
      name: 'swap.online',
      className: 'swap-online',
      order: {
        menu: 2,
        main: 1
      }
    },
    {
      name: 'jury.online',
      className: 'jury-online',
      order: {
        menu: 3,
        main: 2
      }
    },
    {
      name: 'buzz.io',
      className: 'buzz-io',
      order: {
        menu: 4,
        main: 3
      }
    },
    {
      name: 'dialogue key',
      className: 'dialogue-key',
      order: {
        menu: 6,
        main: 6
      }
    },
    {
      name: 'array.io',
      className: 'array-io',
      order: {
        menu: 5,
        main: 5
      }
    }
  ]
%}
