.header {
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  min-height: 70px;

  background-color: #292929;
  background-image: linear-gradient(to top, rgba(#292929, .9), rgba(#333333, .9)), url('../assets/imgs/pattern-header.png');
  box-shadow: 0px 5px 30px 0 rgba(42, 42, 42, 0.4);

  font-family: row nowrap;

  &__logo {
    margin-right: 39px;
  }

  &__burger {


  }
}
