.project-card {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;

  box-sizing: border-box;
  width: 370px;
  min-height: 174px;
  padding: 25px 40px;

  cursor: pointer;
  transition: box-shadow ease-in .2s;
  text-decoration: none;

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15);

  &:hover,
  &:active {
    box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(137, 45, 162, 0.31), 0px 0 15px 0 rgba(137, 45, 162, 0.6);
  }

  &--inactive {
    box-shadow: none;
    background-color: transparent;
  }

  &__icon {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    width: 112px;
    height: 112px;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;

      width: 92px;
      height: 92px;

      content: '';
      transition: width ease-in .2s, height ease-in .2s, background-size ease-in .2s, background-color ease-in .2s;

      border-radius: 100%;
      background-color: #e5e6ea;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;

      width: 92px;
      height: 92px;

      content: '';
      transition: width ease-in .2s, height ease-in .2s, background-size ease-in .2s, opacity ease-in .2s, filter ease-in .2s;

      border-radius: 100%;

      opacity: 0;
    }

    &--jury-online:before {
      background-image: url(../assets/imgs/main-page-jury-online.png);
      background-position: center 57%;
      background-repeat: no-repeat;
      background-size: 39px 52px;
    }

    &--jury-online:after {
      background-image: url(../assets/imgs/main-page-jury-online-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 92px 92px;
      filter: brightness(2) grayscale(1);
    }

    &--swap-online:before {
      background-image: url(../assets/imgs/main-page-swap-online.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 49px 46px;
    }

    &--swap-online:after {
      background-image: url(../assets/imgs/main-page-swap-online-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 49px 46px;
      filter: brightness(2) grayscale(1);
    }

    &--buzz-io:before {
      background-image: url(../assets/imgs/main-page-buzz.io.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 33px 44px;
    }
    &--buzz-io:after {
      background-image: url(../assets/imgs/main-page-buzz.io-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 33px 44px;
      filter: brightness(1) grayscale(1);
    }

    &--icoadm-in:before {
      background-image: url(../assets/imgs/main-page-icoadm.in.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 52px 52px;
    }
    &--icoadm-in:after {
      background-image: url(../assets/imgs/main-page-icoadm.in-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 52px 52px;
      filter: brightness(1) grayscale(1);
    }

    &--array-io:before {
      background-image: url(../assets/imgs/main-page-array.io.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70px 60px;
    }
    &--array-io:after {
      background-image: url(../assets/imgs/main-page-array.io-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70px 60px;
      filter: brightness(1) grayscale(1);
    }

    &--dialogue-key:before {
      background-image: url(../assets/imgs/main-page-dialogue.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 38px 66px;
    }
    &--dialogue-key:after {
      background-image: url(../assets/imgs/main-page-dialogue-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 38px 66px;
      filter: brightness(1) grayscale(1);
    }
  }

  &:hover &__icon,
  &:active &__icon,
  &--active &__icon {
    &:before {
      width: 112px;
      height: 112px;
    }
    &:after {
      width: 112px;
      height: 112px;
    }

    &--jury-online:before {
      background-size: 49.5px 63.3px;
      background-color: rgba(white, 0);
    }
    &--jury-online:after {
      background-size: 112px 112px;
      opacity: 1;
      filter: brightness(1) grayscale(0);
    }

    &--swap-online:before {
      background-size: 62.23px 55.98px;
    }
    &--swap-online:after {
      background-size: 62.23px 55.98px;
      opacity: 1;
      filter: brightness(1) grayscale(0);
    }

    &--buzz-io:before {
      background-size: #{(33px * 1.217)} #{(44px * 1.217)};
    }
    &--buzz-io:after {
      background-size: #{(33px * 1.217)} #{(44px * 1.217)};
      opacity: 1;
      filter: brightness(1) grayscale(0);
    }

    &--icoadm-in:before {
      background-size: #{(52px * 1.217)} #{(52px * 1.217)};
    }
    &--icoadm-in:after {
      background-size: #{(52px * 1.217)} #{(52px * 1.217)};
      opacity: 1;
      filter: brightness(1) grayscale(0);
    }

    &--array-io:before {
      background-size: #{(70px * 1.217)} #{(60px * 1.217)};
    }
    &--array-io:after {
      background-size: #{(70px * 1.217)} #{(60px * 1.217)};
      opacity: 1;
      filter: brightness(1) grayscale(0);
    }

    &--dialogue-key:before {
      background-size: #{(38px * 1.217)} #{(66px * 1.217)};
    }
    &--dialogue-key:after {
      background-size: #{(38px * 1.217)} #{(66px * 1.217)};
      opacity: 1;
      filter: brightness(1) grayscale(0);
    }
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;

    width: 140px;
    margin: 0;
  }

  &__name {
    margin-bottom: 14px;

    transition: color ease-in .2s;
    text-transform: uppercase;

    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);

    font-family: $ff-avenir;
    font-size: 17.5px;
    font-weight: 500;
    line-height: 100%;

    @include bg-clip-text;
  }

  &__descr {
    transition: color ease-in .2s;

    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);

    font-family: $ff-avenir;
    font-size: 15px;

    @include bg-clip-text;
  }

  &:hover &__name,
  &:hover &__descr,
  &:active &__name,
  &:active &__descr,
  &--active &__name,
  &--active &__descr {
    color: #423045;
  }
}
