<header class="header">
  <a href="#side-menu" data-toggler data-target="side-menu" data-aria-expended="false" class="burger header__burger">
    <span class="burger__line">Open menu</span>
    <span class="burger__line burger__line--middle"></span>
    <span class="burger__line"></span>
  </a>

  <a href="index.html">
    <img class="header__logo" src="assets/imgs/krypton-tech-logo-white.svg" alt="Krypton Technology Logotype " width="159" height="32">
  </a>
</header>
