{%
  set defaultLink = 'assets/sprite.svg'
%}

{%
  set icons = {
    search: {
      link: defaultLink + '#icon__search',
      baseClass: 'icon__search'
    },
    profile: {
      link: defaultLink + '#icon__profile',
      baseClass: 'icon__profile'
    },
    calendar: {
      link: defaultLink + '#icon__calendar',
      baseClass: 'icon__calendar'
    },
    folder: {
      link: defaultLink + '#icon__folder',
      baseClass: 'icon__folder'
    },
    feed: {
      link: defaultLink + '#icon__feed',
      baseClass: 'icon__feed'
    },
    gear: {
      link: defaultLink + '#icon__gear',
      baseClass: 'icon__gear'
    },
    blob: {
      link: defaultLink + '#icon__blob',
      baseClass: 'icon__blob'
    },
    bell: {
      link: defaultLink + '#icon__bell',
      baseClass: 'icon__bell'
    },
    n: {
      link: defaultLink + '#icon__search',
      baseClass: 'icon__search'
    }
  }
%}

{% macro make(name, mods = '') %}
  <svg class="icon {{ icons[name].baseClass }} {{mods}}">
    <use xlink:href="{{ icons[name].link }}"></use>
  </svg>{% endmacro %}
