{% macro make(project, mods = false) %}
  <a class="project-card project-card--{{ project.className }}{{ ' ' + mods if mods}}" href="{{ project.link }}">
    <span class="project-card__icon"></span>

    <p class="project-card__info">
      <span class="project-card__name">{{ project.name }} </span><span class="project-card__descr">{{ project['short-description'] }}</span>
    </p>
  </a>
{% endmacro %}
