{% macro modify(mods = '') %}

  <div class="{{ mods }} user">
    <img src="assets/imgs/menu__user-img.png" alt="User Image" class="user__img" width="59" height="59">

    <p class="user__info">
      <span class="user__name">David G. </span>
      <span class="user__job user__job--type--investor">Investor</span>
    </p>
  </div>

{% endmacro %}
