@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir Next Medium'), local('Avenir-Next-Medium'), url(../assets/fonts/avenir-next-medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  src: local('Avenir Next Demi'), local('Avenir-Next-Demi'), url(../assets/fonts/avenir-next-demi.woff2) format('woff2');
}
