{% import "partials/side-menu.njk" as menu %}
{% import "database/projects.set.njk" as projects %}

{% extends "layout.njk" %}

{% block menu %}
  {{ menu.make() }}
{% endblock %}

{% block content %}
  <div class="main-page">
    <div class="dashboard__block dashboard__block--no-margin main-page__logo">
      <img src="assets/imgs/krypton-tech-logo-color.svg" alt="Krypton Technology Logotype" width="332" height="65">
    </div>

    <ul class="dashboard__block main-page__projects">
      {% for project in projects.list | orderByObjKey( ['order', 'main'] ) %}
        <li class="main-page__project-card">
          <a class="project-card" href="">
            <span class="project-card__icon project-card__icon--{{ project.className }}"></span>
            <p class="project-card__info">
              <span class="project-card__name">{{ project.name }} </span><span class="project-card__descr">{{ project['short-description'] }}</span>
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="dashboard__block main-page__btn">
      <a class="faded-btn" href="#">go to the list of projects</a>
    </div>
  </div>
{% endblock %}
