{% import "partials/side-menu.njk" as menu %}
{% import "partials/project-card.njk" as card %}
{% import "dataset/projects.set.njk" as projects %}

{% extends "layout.njk" %}

{% block menu %}
  {{ menu.make() }}
{% endblock %}

{% block content %}
  <div class="main-page">
    <div class="main-page__block main-page__block--no-margin main-page__logo">
      <span class="main-page__logo-divider main-page__logo-divider--position--left"></span>
      <img src="assets/imgs/krypton-tech-logo-color.png" alt="Krypton Technology Logotype" width="332" height="65">
      <span class="main-page__logo-divider main-page__logo-divider--position--right"></span>
    </div>

    <ul class="main-page__block main-page__projects">
      {% for project in projects.list | orderByObjKey( ['order', 'main'] ) %}

        <li class="main-page__project-card">
          {{ card.make( project ) }}
        </li>

      {% endfor %}
    </ul>

    <div class="main-page__block main-page__btn">
      <a class="faded-btn" href="projects.html">go to the list of projects</a>
    </div>
  </div>
{% endblock %}
