{% import "partials/side-menu.njk" as menu %}
{% import "partials/project-card.njk" as card %}
{% import "partials/project-jumbotron.njk" as jumbo %}
{% import "dataset/projects.set.njk" as projects %}

{% extends "layout.njk" %}

{% set project = projects.list[2] %}

{% block menu %}
  {{ menu.make() }}
{% endblock %}

{% block content %}
  <div class="dashboard__container dashboard__container--projects">
    <div class="projects-page">
    <div class="projects-page__list">
      <h2 class="projects-page__heading">Discover our Projects</h2>
      <a href="index.html" class="faded-btn projects-page__faded-btn">see all projects</a>

      <div class="projects-page__slider">
        <div class="swiper-container projects-page__slider-container">
          <ul class="swiper-wrapper projects-page__slider-list">
            <li class="swiper-slide projects-page__slider-item">
              {{ card.make( projects.list[1], 'projects-page__project-card project-card--inactive' ) }}
            </li>
            <li class="swiper-slide projects-page__slider-item">
              {{ card.make( projects.list[2], 'projects-page__project-card project-card--inactive' ) }}
            </li>
            <li class="swiper-slide projects-page__slider-item">
              {{ card.make( projects.list[0], 'projects-page__project-card project-card--inactive' ) }}
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="projects-page__info">
      {{ jumbo.make( project ) }}
    </div>
  </div>
  </div>
{% endblock %}
