{% import "partials/side-menu.njk" as menu %}
{% import "partials/project-card.njk" as card %}
{% import "partials/project-jumbotron.njk" as jumbo %}
{% import "dataset/projects.set.njk" as projects %}

{% extends "layout.njk" %}

{% set project = projects.list[2] %}

{% block menu %}
  {{ menu.make() }}
{% endblock %}

{% block content %}
  <div class="dashboard__container dashboard__container--projects">
    <div class="projects-page">
    <div class="projects-page__list">
      <h2 class="projects-page__heading">Discover our Projects</h2>
      <a href="index.html" class="faded-btn projects-page__faded-btn">see all projects</a>

      <div class="projects-page__slider">
        <div class="swiper-container projects-page__slider-container">
          <ul class="swiper-wrapper projects-page__slider-list">

            {% for project in projects.list %}

            <li class="swiper-slide projects-page__slider-item" data-tab-for="{{ project.className }}">
              {{ card.make( project, 'projects-page__project-card project-card--inactive' ) }}
            </li>

            {% endfor %}

          </ul>
        </div>
      </div>

    </div>

    <div class="projects-page__info">

      {% for project in projects.list %}
      <div class="projects-page__tab" data-tab-name="{{ project.className }}" data-tab-status="hidden">
        {{ jumbo.make( project ) }}
      </div>
      {% endfor %}

    </div>
  </div>
  </div>
{% endblock %}
