@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  src: local("Avenir Next Medium"), local("Avenir-Next-Medium"), url(../assets/fonts/avenir-next-medium.woff2) format("woff2"); }

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  src: local("Avenir Next Demi"), local("Avenir-Next-Demi"), url(../assets/fonts/avenir-next-demi.woff2) format("woff2"); }

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 300;
  src: local("Avenir Next Light"), local("Avenir-Next-Light"), url(../assets/fonts/avenir-next-light.woff2) format("woff2"); }

body {
  margin: 0;
  min-width: 1500px;
  min-height: 880px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  background-color: #f2f4f5;
  background-image: url(../assets/imgs/bg-display.jpg);
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .dashboard__container {
    width: 100%;
    max-width: 1536px;
    height: 100%;
    max-height: 735px; }
    .dashboard__container--projects {
      max-height: 780px; }

.content {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.faded-btn {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(186, 186, 186, 0.76);
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  line-height: 100%;
  padding: 12px 15px;
  min-width: 390px;
  border-top: 1px solid #d6d8db; }

.header {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  background-color: #292929;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(41, 41, 41, 0.9)), to(rgba(51, 51, 51, 0.9))), url("../assets/imgs/pattern-header.png");
  background-image: linear-gradient(to top, rgba(41, 41, 41, 0.9), rgba(51, 51, 51, 0.9)), url("../assets/imgs/pattern-header.png");
  -webkit-box-shadow: 0px 5px 30px 0 rgba(42, 42, 42, 0.4);
          box-shadow: 0px 5px 30px 0 rgba(42, 42, 42, 0.4);
  font-family: row nowrap; }
  .header__logo {
    margin-right: 39px; }

.side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 70px;
  -webkit-transition: width ease-out 0.5s;
  transition: width ease-out 0.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 30px 0 rgba(52, 152, 219, 0.1);
          box-shadow: 0px 5px 30px 0 rgba(52, 152, 219, 0.1); }
  .side-menu[data-aria-expended="false"] {
    width: 0; }
  .side-menu__list {
    position: relative;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
  .side-menu__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    text-decoration: none; }
  .side-menu__name {
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(96deg, #6f8188, #b6b9bb);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Avenir Next", sans-serif;
    font-size: 15px;
    font-weight: 500; }
  .side-menu__icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 20px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .side-menu__icon:after {
      position: absolute;
      content: '';
      width: 62px;
      height: 1px;
      background-color: rgba(162, 162, 162, 0.15);
      bottom: -15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .side-menu__icon--icoadm-in {
      background-image: url("../assets/imgs/icon-adm.in.png"); }
    .side-menu__icon--array-io {
      background-image: url("../assets/imgs/icon-array.io.png"); }
    .side-menu__icon--buzz-io {
      background-image: url("../assets/imgs/icon-buzz.io.png"); }
    .side-menu__icon--dialogue-key {
      background-image: url("../assets/imgs/icon-dialogue-key.png"); }
    .side-menu__icon--jury-online {
      background-image: url("../assets/imgs/icon-jury.online.png"); }
    .side-menu__icon--swap-online {
      background-image: url("../assets/imgs/icon-swap.online.png"); }

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25px;
  height: 19px;
  padding: 25px 20px;
  font-size: 0; }
  .burger__line {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: white; }
    .burger__line--middle {
      width: 72%;
      -webkit-transition: width .2s linear;
      transition: width .2s linear; }
      [data-aria-expended="true"] > .burger__line--middle {
        width: 100%; }

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  min-height: 174px;
  padding: 25px 40px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow ease-in .2s;
  transition: -webkit-box-shadow ease-in .2s;
  transition: box-shadow ease-in .2s;
  transition: box-shadow ease-in .2s, -webkit-box-shadow ease-in .2s;
  text-decoration: none;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15);
          box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15); }
  .project-card--jury-online:hover, .project-card--jury-online:active {
    -webkit-box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(137, 45, 162, 0.31), 0px 0 15px 0 rgba(137, 45, 162, 0.6);
            box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(137, 45, 162, 0.31), 0px 0 15px 0 rgba(137, 45, 162, 0.6); }
  .project-card--swap-online:hover, .project-card--swap-online:active {
    -webkit-box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(86, 16, 218, 0.31), 0px 0 15px 0 rgba(86, 16, 218, 0.6);
            box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(86, 16, 218, 0.31), 0px 0 15px 0 rgba(86, 16, 218, 0.6); }
  .project-card--icoadm-in:hover, .project-card--icoadm-in:active {
    -webkit-box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(0, 155, 210, 0.31), 0px 0 15px 0 rgba(0, 155, 210, 0.6);
            box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(0, 155, 210, 0.31), 0px 0 15px 0 rgba(0, 155, 210, 0.6); }
  .project-card--array-io:hover, .project-card--array-io:active {
    -webkit-box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(0, 159, 254, 0.31), 0px 0 15px 0 rgba(0, 159, 254, 0.6);
            box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(0, 159, 254, 0.31), 0px 0 15px 0 rgba(0, 159, 254, 0.6); }
  .project-card--dialogue-key:hover, .project-card--dialogue-key:active {
    -webkit-box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(0, 0, 0, 0.31), 0px 0 15px 0 rgba(0, 0, 0, 0.6);
            box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(0, 0, 0, 0.31), 0px 0 15px 0 rgba(0, 0, 0, 0.6); }
  .project-card--buzz-io:hover, .project-card--buzz-io:active {
    -webkit-box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(0, 173, 239, 0.31), 0px 0 15px 0 rgba(0, 173, 239, 0.6);
            box-shadow: 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 46px 0 rgba(86, 112, 132, 0.15), 0px 2px 30px 0 rgba(0, 173, 239, 0.31), 0px 0 15px 0 rgba(0, 173, 239, 0.6); }
  .project-card--inactive {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent; }
  .project-card__icon {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 112px;
    height: 112px; }
    .project-card__icon:before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: block;
      width: 92px;
      height: 92px;
      content: '';
      -webkit-transition: width ease-in .2s, height ease-in .2s, background-size ease-in .2s, background-color ease-in .2s;
      transition: width ease-in .2s, height ease-in .2s, background-size ease-in .2s, background-color ease-in .2s;
      border-radius: 100%;
      background-color: #e5e6ea; }
    .project-card__icon:after {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: block;
      width: 92px;
      height: 92px;
      content: '';
      -webkit-transition: width ease-in .2s, height ease-in .2s, background-size ease-in .2s, opacity ease-in .2s, -webkit-filter ease-in .2s;
      transition: width ease-in .2s, height ease-in .2s, background-size ease-in .2s, opacity ease-in .2s, -webkit-filter ease-in .2s;
      transition: width ease-in .2s, height ease-in .2s, background-size ease-in .2s, opacity ease-in .2s, filter ease-in .2s;
      transition: width ease-in .2s, height ease-in .2s, background-size ease-in .2s, opacity ease-in .2s, filter ease-in .2s, -webkit-filter ease-in .2s;
      border-radius: 100%;
      opacity: 0; }
    .project-card--jury-online .project-card__icon:before {
      background-image: url(../assets/imgs/main-page-jury-online.png);
      background-position: center 57%;
      background-repeat: no-repeat;
      background-size: 39px 52px; }
    .project-card--jury-online .project-card__icon:after {
      background-image: url(../assets/imgs/main-page-jury-online-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 92px 92px;
      -webkit-filter: brightness(2) grayscale(1);
              filter: brightness(2) grayscale(1); }
    .project-card--swap-online .project-card__icon:before {
      background-image: url(../assets/imgs/main-page-swap-online.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 49px 46px; }
    .project-card--swap-online .project-card__icon:after {
      background-image: url(../assets/imgs/main-page-swap-online-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 49px 46px;
      -webkit-filter: brightness(2) grayscale(1);
              filter: brightness(2) grayscale(1); }
    .project-card--buzz-io .project-card__icon:before {
      background-image: url(../assets/imgs/main-page-buzz.io.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 33px 44px; }
    .project-card--buzz-io .project-card__icon:after {
      background-image: url(../assets/imgs/main-page-buzz.io-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 33px 44px;
      -webkit-filter: brightness(1) grayscale(1);
              filter: brightness(1) grayscale(1); }
    .project-card--icoadm-in .project-card__icon:before {
      background-image: url(../assets/imgs/main-page-icoadm.in.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 52px 52px; }
    .project-card--icoadm-in .project-card__icon:after {
      background-image: url(../assets/imgs/main-page-icoadm.in-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 52px 52px;
      -webkit-filter: brightness(1) grayscale(1);
              filter: brightness(1) grayscale(1); }
    .project-card--array-io .project-card__icon:before {
      background-image: url(../assets/imgs/main-page-array.io.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70px 60px; }
    .project-card--array-io .project-card__icon:after {
      background-image: url(../assets/imgs/main-page-array.io-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70px 60px;
      -webkit-filter: brightness(1) grayscale(1);
              filter: brightness(1) grayscale(1); }
    .project-card--dialogue-key .project-card__icon:before {
      background-image: url(../assets/imgs/main-page-dialogue.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 38px 66px; }
    .project-card--dialogue-key .project-card__icon:after {
      background-image: url(../assets/imgs/main-page-dialogue-active.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 38px 66px;
      -webkit-filter: brightness(1) grayscale(1);
              filter: brightness(1) grayscale(1); }
  .project-card:hover .project-card__icon:before,
  .project-card:active .project-card__icon:before,
  .project-card.project-card--active .project-card__icon:before {
    width: 112px;
    height: 112px; }
  .project-card:hover .project-card__icon:after,
  .project-card:active .project-card__icon:after,
  .project-card.project-card--active .project-card__icon:after {
    width: 112px;
    height: 112px; }
  .project-card--jury-online:hover .project-card__icon:before,
  .project-card--jury-online:active .project-card__icon:before,
  .project-card--jury-online.project-card--active .project-card__icon:before {
    background-size: 49.5px 63.3px;
    background-color: rgba(255, 255, 255, 0); }
  .project-card--jury-online:hover .project-card__icon:after,
  .project-card--jury-online:active .project-card__icon:after,
  .project-card--jury-online.project-card--active .project-card__icon:after {
    background-size: 112px 112px;
    opacity: 1;
    -webkit-filter: brightness(1) grayscale(0);
            filter: brightness(1) grayscale(0); }
  .project-card--swap-online:hover .project-card__icon:before,
  .project-card--swap-online:active .project-card__icon:before,
  .project-card--swap-online.project-card--active .project-card__icon:before {
    background-size: 62.23px 55.98px; }
  .project-card--swap-online:hover .project-card__icon:after,
  .project-card--swap-online:active .project-card__icon:after,
  .project-card--swap-online.project-card--active .project-card__icon:after {
    background-size: 62.23px 55.98px;
    opacity: 1;
    -webkit-filter: brightness(1) grayscale(0);
            filter: brightness(1) grayscale(0); }
  .project-card--buzz-io:hover .project-card__icon:before,
  .project-card--buzz-io:active .project-card__icon:before,
  .project-card--buzz-io.project-card--active .project-card__icon:before {
    background-size: 40.161px 53.548px; }
  .project-card--buzz-io:hover .project-card__icon:after,
  .project-card--buzz-io:active .project-card__icon:after,
  .project-card--buzz-io.project-card--active .project-card__icon:after {
    background-size: 40.161px 53.548px;
    opacity: 1;
    -webkit-filter: brightness(1) grayscale(0);
            filter: brightness(1) grayscale(0); }
  .project-card--icoadm-in:hover .project-card__icon:before,
  .project-card--icoadm-in:active .project-card__icon:before,
  .project-card--icoadm-in.project-card--active .project-card__icon:before {
    background-size: 63.284px 63.284px; }
  .project-card--icoadm-in:hover .project-card__icon:after,
  .project-card--icoadm-in:active .project-card__icon:after,
  .project-card--icoadm-in.project-card--active .project-card__icon:after {
    background-size: 63.284px 63.284px;
    opacity: 1;
    -webkit-filter: brightness(1) grayscale(0);
            filter: brightness(1) grayscale(0); }
  .project-card--icoadm-in:hover .project-card__icon:before,
  .project-card--icoadm-in:active .project-card__icon:before,
  .project-card--icoadm-in.project-card--active .project-card__icon:before {
    background-size: 63.284px 63.284px; }
  .project-card--icoadm-in:hover .project-card__icon:after,
  .project-card--icoadm-in:active .project-card__icon:after,
  .project-card--icoadm-in.project-card--active .project-card__icon:after {
    background-size: 63.284px 63.284px;
    opacity: 1;
    -webkit-filter: brightness(1) grayscale(0);
            filter: brightness(1) grayscale(0); }
  .project-card--array-io:hover .project-card__icon:before,
  .project-card--array-io:active .project-card__icon:before,
  .project-card--array-io.project-card--active .project-card__icon:before {
    background-size: 85.19px 73.02px; }
  .project-card--array-io:hover .project-card__icon:after,
  .project-card--array-io:active .project-card__icon:after,
  .project-card--array-io.project-card--active .project-card__icon:after {
    background-size: 85.19px 73.02px;
    opacity: 1;
    -webkit-filter: brightness(1) grayscale(0);
            filter: brightness(1) grayscale(0); }
  .project-card--dialogue-key:hover .project-card__icon:before,
  .project-card--dialogue-key:active .project-card__icon:before,
  .project-card--dialogue-key.project-card--active .project-card__icon:before {
    background-size: 46.246px 80.322px; }
  .project-card--dialogue-key:hover .project-card__icon:after,
  .project-card--dialogue-key:active .project-card__icon:after,
  .project-card--dialogue-key.project-card--active .project-card__icon:after {
    background-size: 46.246px 80.322px;
    opacity: 1;
    -webkit-filter: brightness(1) grayscale(0);
            filter: brightness(1) grayscale(0); }
  .project-card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 140px;
    margin: 0; }
  .project-card__name {
    margin-bottom: 14px;
    -webkit-transition: color ease-in .2s;
    transition: color ease-in .2s;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);
    font-family: "Avenir Next", sans-serif;
    font-size: 17.5px;
    font-weight: 500;
    line-height: 100%;
    -webkit-background-clip: text;
    background-clip: text; }
  .project-card__descr {
    -webkit-transition: color ease-in .2s;
    transition: color ease-in .2s;
    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);
    font-family: "Avenir Next", sans-serif;
    font-size: 15px;
    -webkit-background-clip: text;
    background-clip: text; }
  .project-card--jury-online:hover .project-card__name,
  .project-card--jury-online:hover .project-card__descr,
  .project-card--jury-online:active .project-card__name,
  .project-card--jury-online:active .project-card__descr,
  .project-card--jury-online.project-card--active .project-card__name,
  .project-card--jury-online.project-card--active .project-card__descr {
    color: #423045; }
  .project-card--swap-online:hover .project-card__name,
  .project-card--swap-online:hover .project-card__descr,
  .project-card--swap-online:active .project-card__name,
  .project-card--swap-online:active .project-card__descr,
  .project-card--swap-online.project-card--active .project-card__name,
  .project-card--swap-online.project-card--active .project-card__descr {
    color: #2d0878; }
  .project-card--buzz-io:hover .project-card__name,
  .project-card--buzz-io:hover .project-card__descr,
  .project-card--buzz-io:active .project-card__name,
  .project-card--buzz-io:active .project-card__descr,
  .project-card--buzz-io.project-card--active .project-card__name,
  .project-card--buzz-io.project-card--active .project-card__descr {
    color: #006389; }
  .project-card--icoadm-in:hover .project-card__name,
  .project-card--icoadm-in:hover .project-card__descr,
  .project-card--icoadm-in:active .project-card__name,
  .project-card--icoadm-in:active .project-card__descr,
  .project-card--icoadm-in.project-card--active .project-card__name,
  .project-card--icoadm-in.project-card--active .project-card__descr {
    color: #00506c; }
  .project-card--array-io:hover .project-card__name,
  .project-card--array-io:hover .project-card__descr,
  .project-card--array-io:active .project-card__name,
  .project-card--array-io:active .project-card__descr,
  .project-card--array-io.project-card--active .project-card__name,
  .project-card--array-io.project-card--active .project-card__descr {
    color: #0441af; }
  .project-card--dialogue-key:hover .project-card__name,
  .project-card--dialogue-key:hover .project-card__descr,
  .project-card--dialogue-key:active .project-card__name,
  .project-card--dialogue-key:active .project-card__descr,
  .project-card--dialogue-key.project-card--active .project-card__name,
  .project-card--dialogue-key.project-card--active .project-card__descr {
    color: black; }

.project-jumbotron {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  padding-top: 88px; }
  .project-jumbotron__logotype {
    margin-bottom: 68px; }
  .project-jumbotron__slogan {
    margin: 0;
    margin-bottom: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);
    font-family: "Avenir Next", sans-serif;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 100%;
    -webkit-background-clip: text;
    background-clip: text; }
  .project-jumbotron__descr {
    max-width: 312px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.4px;
    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);
    font-family: "Avenir Next", sans-serif;
    font-size: 16.5px;
    font-weight: 300;
    line-height: 100%;
    line-height: 1.6;
    -webkit-background-clip: text;
    background-clip: text; }
  .project-jumbotron__site-container {
    position: absolute;
    top: 0;
    right: 26px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: top right;
            transform-origin: top right; }
  .project-jumbotron__site {
    position: relative;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#697d84), color-stop(120%, #bbbcbe));
    background-image: linear-gradient(to bottom, #697d84, #bbbcbe 120%);
    font-family: "Avenir Next", sans-serif;
    font-size: 10.5px;
    font-weight: 500;
    -webkit-background-clip: text;
    background-clip: text; }
    .project-jumbotron__site:before {
      position: absolute;
      top: 50%;
      left: -59px;
      display: block;
      width: 41px;
      height: 3px;
      content: '';
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#9d3e8e), to(#3a2568));
      background-image: linear-gradient(to bottom, #9d3e8e, #3a2568); }
  .project-jumbotron__link {
    position: relative;
    z-index: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 205px;
    padding: 19px 25px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: white;
    border-radius: 25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9d3e8e), to(#3a2568));
    background-image: linear-gradient(to bottom, #9d3e8e, #3a2568);
    font-family: "Avenir Next", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%; }
    .project-jumbotron__link:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 100%;
      content: '';
      -webkit-transition: opacity .1s ease-in;
      transition: opacity .1s ease-in;
      opacity: 0;
      border: 2px solid #442c7b;
      border-radius: 25px;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#9d3e8e), to(#3a2568));
      background-image: linear-gradient(to top, #9d3e8e, #3a2568); }
    .project-jumbotron__link:active:before {
      opacity: 1; }
  .project-jumbotron__link-container {
    position: relative; }
    .project-jumbotron__link-container:after {
      position: absolute;
      top: 90%;
      left: 50%;
      width: 100%;
      height: 63%;
      content: '';
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-image: radial-gradient(ellipse at 50% 60%, rgba(176, 191, 199, 0.25), rgba(255, 255, 255, 0) 50%); }

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  padding-top: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .main-page__block {
    width: 100%;
    max-width: 1185px;
    margin-left: auto;
    margin-right: auto; }
    .main-page__block--no-margin {
      max-width: 100%; }
  .main-page__logo {
    text-align: center;
    position: relative; }
    .main-page__logo:before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 100%;
      width: 400px;
      height: 170px;
      background-image: radial-gradient(rgba(124, 240, 222, 0.25), rgba(124, 240, 222, 0) 75%); }
    .main-page__logo-divider {
      position: absolute;
      height: 4px;
      width: calc( calc(100% - 360px) * 0.41);
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .main-page__logo-divider--position--left {
        background-image: -webkit-gradient(linear, left top, right top, from(#f1f6f6), to(#1b3056));
        background-image: linear-gradient(to right, #f1f6f6, #1b3056);
        left: 6%; }
      .main-page__logo-divider--position--right {
        background-image: -webkit-gradient(linear, right top, left top, from(#f1f6f6), to(#1b3056));
        background-image: linear-gradient(to left, #f1f6f6, #1b3056);
        right: 6%; }
  .main-page__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none; }
  .main-page__project-card {
    width: 31.4%;
    margin-bottom: 16px;
    margin-top: 16px; }
  .main-page__btn {
    margin-top: 44px;
    height: 50px;
    text-align: center; }

.project {
  display: block;
  overflow-y: hidden;
  width: 100%;
  max-width: 1185px;
  margin: auto;
  height: 735px; }
  .project__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    min-height: 735px; }
  .project__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%; }
  .project__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    max-height: 655px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .project__row--horizontal {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap; }
    .project__row--padding {
      padding-top: 90px; }
  .project__btn {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
    text-align: center; }
  .project__faded-btn {
    min-width: 365px;
    text-align: center;
    letter-spacing: 1.1px;
    font-size: 12px;
    color: rgba(42, 40, 41, 0.4);
    border-color: rgba(42, 40, 41, 0.2);
    cursor: pointer; }
  .project__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .project__logotype {
    margin-bottom: 68px; }
    .project__logotype--jury-online {
      width: 438px;
      height: 246px; }
  .project__slogan {
    margin: 0;
    margin-bottom: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);
    font-family: "Avenir Next", sans-serif;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 100%;
    -webkit-background-clip: text;
    background-clip: text; }
  .project__descr {
    max-width: 312px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.4px;
    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);
    font-family: "Avenir Next", sans-serif;
    font-size: 16.5px;
    font-weight: 300;
    line-height: 100%;
    line-height: 1.6;
    -webkit-background-clip: text;
    background-clip: text; }
  .project__paragraph {
    width: 100%;
    padding-left: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .project__paragraph:not(:last-of-type) {
      margin-bottom: 42px; }
    .project__paragraph-heading {
      position: relative;
      font-family: "Avenir Next", sans-serif;
      letter-spacing: 2.5px;
      font-size: 16.5px;
      font-weight: 500;
      line-height: 1.67;
      color: transparent;
      background-image: linear-gradient(96deg, #697d84, #bbbcbe);
      text-transform: uppercase;
      -webkit-background-clip: text;
      background-clip: text;
      margin: 0;
      margin-bottom: 11px; }
      .project__paragraph-heading:before {
        content: '';
        display: block;
        position: absolute;
        width: 41px;
        height: 2px;
        top: 50%;
        left: -60px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#9d3e8e), to(#3a2568));
        background-image: linear-gradient(to bottom, #9d3e8e, #3a2568); }
    .project__paragraph-text {
      margin: 0;
      line-height: 1.5;
      font-family: "Avenir Next", sans-serif;
      letter-spacing: 0.4px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: transparent;
      background-image: linear-gradient(96deg, #697d84, #bbbcbe);
      -webkit-background-clip: text;
      background-clip: text;
      max-width: 415px; }
      .project__paragraph-text:not(:last-of-type) {
        margin-bottom: 25px; }
  .project__row--horizontal .project__paragraph {
    width: 50%; }
  .project__transporter {
    position: relative;
    top: 0;
    -webkit-transition: top .5s ease-in;
    transition: top .5s ease-in; }

.projects-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  max-width: 1235px;
  margin: auto; }
  .projects-page__list {
    width: auto;
    min-width: 445px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .projects-page__info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 25px; }
  .projects-page__heading {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    max-width: 455px;
    margin: 0;
    margin-bottom: 45px;
    padding: 0 0 0 25px;
    text-align: left;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(96deg, #697d84, #bbbcbe);
    font-family: "Avenir Next", sans-serif;
    font-size: 57px;
    line-height: 1.05;
    -webkit-background-clip: text;
    background-clip: text; }
  .projects-page__faded-btn {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 1.1px;
    text-align: center;
    border-top: none;
    min-width: 0;
    max-width: 340px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    width: 100%; }
  .projects-page__slider {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    height: 550px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%; }
    .projects-page__slider:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: calc(100% - 30px);
      border-top: 1px solid #ebeef1;
      border-bottom: 1px solid #e8ebef;
      height: 100%; }
    .projects-page__slider-container {
      max-height: 100%;
      width: 100%;
      height: 100%; }
    .projects-page__slider-item {
      width: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .projects-page__slider-list {
      list-style: none;
      padding: 15px 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin: 0;
      max-height: 100%; }
  .projects-page__project-card {
    width: 340px;
    min-height: auto;
    max-height: 159px;
    padding: 20px 35px; }
